.display {
	background-color: skyblue;
	margin-top: 20px;
	width: 100px;
	padding: 5px;
}
#fahrenheit {
	background-color: skyblue;
	margin-right: 10px;
	padding: 5px;
}
#celsius {
	background-color: skyblue;
	margin-right: 10px;
	padding: 5px;
}
#kelvin {
	background-color: skyblue;
	padding: 5px;
}
#fulldata {
	background-color: skyblue;
	/*position: absolute;*/
	margin-left: 300px;
	margin-top: -300px;
	height: 300px;
	width: 300px;
}
.navbar {
	background-color: skyblue;
	margin-bottom: 50px;
}